body {
    background-color: rgb(237, 231, 246);
}
.dialog_container {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    background-color: white;
}
.top_strip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background-color: rgb(179, 136, 255);
}
.question_container {
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%;
    right: 0;
    left: 0;
    text-align: left;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
}
.description_container {
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}
.disclaimer_container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 8%;
    margin-left: 8%;
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
}
.button_container {
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 5%;
}
.redirect_button {
    /*width: 20%;*/
}
.formBannerBackground {
    position: absolute;
    background-color: rgb(103, 58, 183);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    height: 278px;
}
